BOT_TOKEN=8038321931:AAEA-NibFRKlv-aB_R6OHK097rQk1Wx0E50
ACR_HOST=identify-eu-west-1.acrcloud.com
ACR_ACCESS_KEY=f676a68c7dc3f643003c274d6ccf0c5351
ACR_SECRET_KEY=BTmUicjlTMDAQIC5sdWhY3tV0hFjmBa5nIMht